# TASK 01

In [2]:
# Print numbers from 1 to 10 using a for loop.
for i in range (1,11):
    print (i)

1
2
3
4
5
6
7
8
9
10

# TASK 02

In [3]:
# Print a multiplication table for a given number (3) using a for loop.
num = 3
for i in range(1,11):
    print(f"{num} x {i} = {num*i}")

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

# TASK 03

In [4]:
# Create a function to add two numbers.
def addition(num1,num2):
    c = num1 + num2
    return c

In [5]:
A = addition (5,6)
print (A)

11

# TASK 04

In [6]:
# Use a lambda function to find the square of a number.
square = lambda x: x**2
print (square(6))

36

# TASK 05

In [ ]:
# Use f-strings to insert a variable in a sentence.
name = "Nabeel"
age = 19
height = 5.9
sentence = (f"My name is {name}, I am {age} years old and my height is {height}")
print (sentence)

My name is Nabeel, I am 19 years old and my height is 5.9